[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
func-timeout = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3.8"
