[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
colorama = "*"
pyvirtualdisplay = "*"
natsort = "*"
xlutils = "*"

[dev-packages]

[requires]
python_version = "3.7"
